body{
    
    margin: 20px;
    
  }
  form{
    padding: 20px;
    margin: 33px;
  }
  a:link{
    margin-left: 100px;
    text-decoration: none;
    background-color: transparent;
    color: green;
  }
  a:visited{
    text-decoration: none;
    background-color: transparent;
    color: rgb(17, 16, 16);
  }
  a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
border: 12px solid gray;

border-radius: 3px;
}
a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}
.head1{
    color: red;
}
.cabecalho{
    background-color: #ffff;
}
.nave{
    text-align: center;
}